<section id="orders">
     <div class="container p-5">      
      <div *ngIf="!orders" class="m-auto">
        <h1 class="text-center display-3 mt-5">
          <i class="fa fa-spinner fa-spin"></i>
        </h1>
      </div>
      <h3 *ngIf="orders && !orders.length" class="display-2 text-center mt-5">
        There are no orders
      </h3>
      <div *ngIf="orders && orders.length" class="row">
        <div class="col">
          <h4 class="display-4">Orders</h4>
          <div class="row">
            <div class="offset-10 col-2 d-none d-md-block">
              <p>
                <small class="text-muted">Person name</small>
              </p>
            </div>
          </div>
          <hr class="mt-0" />
          <div *ngFor="let order of orders" class="order">
            <div class="row">
              <div class="col-5 col-md-8">
                <h5>
                  <a [routerLink]="getLink(order)"
                    >Order #{{ order.id }}</a
                  >
                  <p class="m-0">
                    <small class="text-muted"
                      >Total: {{ order.totalPrice | currency }}</small
                    >
                  </p>
                </h5>
              </div>
              <div class="offset-2 col-2">
                <h6>
                  {{ order.name }}
                </h6>
              </div>
            </div>
            <hr />
          </div>
        </div>
      </div>
    </div>
  </section>
  